<a ng-href="{{ activeSlide.href }}"><img ng-src="{{ activeSlide.src }}"></a>
      
      <main>
        <div class="button-menu"><a href="#/search/restaurant"><img src="../images/restaurant-pic.jpg"><h3>Restaurants</h3></a></div>
        <div class="button-menu"><a href="#/search/hotel"><img src="../images/hotel-pic.jpg"><h3>Hotels</h3></div>
        <div class="button-menu"><a href="#/search/hiking"><img src="../images/hiking-pic.jpg"><h3>Hikes</h3></div>
        <div class="button-menu"><a href="#/search/fishing"><img src="../images/fishing.jpg"><h3>Fishing</h3></div>
        <div class="button-menu"><a href="#/search/excursions"><img src="../images/excursions.jpg"><h3>Excursions</h3></div>
        <div class="button-menu"><a href="#/search/arts"><img src="../images/arts.jpg"><h3>Arts</h3></div>
      </main>